.department-areas {
  padding: 88px 150px 88px;

  background-color: #FFFFFF;

  .area-row {
    display: grid;
    grid-template-columns: calc((100% - 300px) / 2) 70px calc((100% - 300px) / 2);
    //align-items: start;

    .number {
      margin: 0;

      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 64px;


      color: #F33D87;
    }

    .text {
      &.right {
        padding-right: 25px;
        text-align: right;
      }

      h3 {
        margin-bottom: 2px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        color: #333333;

        opacity: 0.7;
      }

      h4 {
        margin: 0 0 20px;

        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 38px;

        color: #11145D;
      }

      p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;

        color: #333333;

        opacity: 0.7;

        span {
          display: flex;
          //align-items: start;
          &::before {
            position: relative;
            top: 10px;
            content: ' ';
            width: 4px;
            height: 4px;
            min-width: 4px;
            min-height: 4px;

            margin-right: 10px;

            background-color: #F33D87;
          }
        }
      }
    }

    img {
      width: 100%;
    }

    &:nth-child(2n) {
      img {
        margin-left: -50px;
      }
    }
  }
}

@media (max-width: 1650px) {
  .department-areas {
    padding: 80px 120px 60px;
  }
}

@media (max-width: 1342px) {
  .department-areas {
    padding: 60px 100px 60px;
  }
}

@media (max-width: 1200px) {
  .department-areas {
    padding: 50px 70px 50px;
  }
}

@media (max-width: 850px) {
  .department-areas {
    padding: 50px 50px 50px;
  }
}

@media (max-width: 550px) {
  .department-areas {
    padding: 50px 20px 50px;
  }
}
