<div class="title">
  <div class="title-left">
    <p class="round">ВГУИТ</p>
    <h4>Факультет управления и информатики
      в технологических системах</h4>
    <a href="https://abitur-online.vsuet.ru/" target="_blank"><button class="btn filled">Хочу поступить</button></a>
  </div>
  <div class="title-right">
    <img src="assets/img/map.png" alt=""/>
  </div>
  <div class="counter">
    <div class="counter__list">
      <div class="counter__item">
        <p>200 <span>+</span></p>
        <p>бюджетных мест</p>
      </div>
      <div class="counter__item">
        <p>50 <span>+</span></p>
        <p>индустриальных партнёров для трудоуства</p>
      </div>
      <div class="counter__item">
        <p>9</p>
        <p>направлений подготовки</p>
      </div>
      <div class="counter__item">
        <p>500 <span>+</span></p>
        <p>специалистов выпускаются ежегодно</p>
      </div>
    </div>
  </div>
</div>
