.title {
  position: relative;

  min-width: 100%;
  height: 944px;

  display: flex;

  color: #fff;

  background: #E5E5E5;
  background-image: url('/assets/img/vsuet.png'); // fallback
  background: linear-gradient(90deg, rgba(41, 46, 138, 0.9) 0%, rgba(#F33D87, 0.9) 100%), url('/assets/img/vsuet.png');

  z-index: 2;
}

.title-left {
  width: 50%;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  padding-left: 170px;
  padding-right: 50px;

  p {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
  }

  h4 {
    max-width: 675px;

    font-size: 54px;
    line-height: 86px;
    font-weight: 700;
  }
}

.title-right {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 100px;
  margin-right: 55px;

  img {
    position: relative;
    top: 100px;
    max-width: 809px;
  }
}

.counter {
  width: 1045px;
  height: 192px;

  position: absolute;
  right: 170px;
  bottom: -96px;

  background: #ffffff;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.counter__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 100%;
}

.counter__item {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  p {
    margin: 5px;

    font-size: 17px;
    font-weight: 300;
    text-align: center;

    &:first-child {
      font-size: 47px;
      span {
        font-size: 24px;
        color: #FD5171;
      }
    }
  }
}

:host ::ng-deep .round::before {
  margin-right: 26px;

  background-color: #FFFFFF;
}

@media (max-width: 1794px) {
  .title-left {
    padding-left: 60px;
    padding-right: 40px;
  }

  .title-right {
    padding-left: 60px;
    margin-right: 40px;
    img {
      top: 90px;
      max-width: 100%;
    }
  }
}

@media (max-width: 1687px) {
  .title-right {
    img {
      top: 80px;
      //max-width: 500px;
    }
  }
}

@media (max-width: 1547px) {
  .title {
    height: 750px;
  }

  .title-left {
    h4 {
      font-size: 40px;
      line-height: 60px;
    }
  }

  .counter {
    width: 1045px;
    height: 152px;

    position: absolute;
    right: 170px;
    bottom: -76px;
  }

  .counter__item {
    padding-top: 25px;
    p {
      font-size: 14px;

      &:first-child {
        font-size: 35px;
        span {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .counter {
    width: 800px;
    height: 152px;

    position: absolute;
    right: 120px;
    bottom: -76px;
  }

  .counter__item {
    padding-top: 25px;
    p {
      font-size: 14px;

      &:first-child {
        font-size: 35px;
        span {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .title {
    height: 600px;
  }

  .title-left {
    h4 {
      font-size: 30px;
      line-height: 50px;
    }
  }
  .title-right {
    img {
      top: 50px;
    }
  }
}

@media (max-width: 1110px) {
  .title {
    height: 550px;
  }

  .title-left {
    h4 {
      font-size: 18px;
      line-height: 34px;
    }
  }

  .title-right {
    img {
      top: 70px;
    }
  }

  .counter {
    height: 132px;

    position: absolute;
    right: 100px;
    bottom: -76px;
  }

  .counter__item {
    padding-top: 25px;
    p {
      font-size: 14px;

      &:first-child {
        font-size: 27px;
        span {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .counter {
    width: 94%;
    height: 122px;

    position: absolute;
    left: 3%;
  }

  .counter__item {
    padding-top: 20px;
    p {
      &:first-child {
        font-size: 24px;
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .title {
    position: relative;

    height: 400px;
  }

  .title-right {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: unset;
    margin-right: unset;

    img {
      max-width: unset;
      top: 20px;
      height: 100%;

      opacity: 0.4;
    }
  }

  .title-left {
    width: 100%;
    z-index: 2;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .btn {
      width: 100%;
    }
  }

  .counter {
    width: 94%;
    height: 102px;

    position: absolute;
    left: 3%;
  }

  .counter__item {
    padding-top: 10px;
    p {
      margin: 2px;
      font-size: 14px;
      &:first-child {
        font-size: 17px;
        span {
          font-size: 12px;
        }
      }
    }
  }

}

@media (max-width: 600px) {
  .counter__item {
    padding-top: 10px;
    p {
      margin: 2px;
      font-size: 12px;
      &:first-child {
        font-size: 17px;
        span {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 450px) {

  .title-right {
    img {
      height: 90%;
    }
  }

  .counter {
    height: 82px;
  }
    .counter__item {
      p {
        font-size: 9px;
      }
    }
}
