<app-department-title [title]="'Информационные и управляющие системы'" [bgImg]="'/assets/img/ius-bg.png'"></app-department-title>
<app-department-about [description]="aboutDescription" [head]="aboutHead" [photo]="aboutPhoto"></app-department-about>
<app-department-areas>
  <div class="area-row">
    <img src="/assets/img/atpp.png" alt=" "/>
    <h3 class="number">01</h3>
    <div class="text">
      <h3>15.03.04</h3>
      <h4>Автоматизация технологических процессов и производств</h4>
      <p>В рамках направления подготовки бакалавров реализуется профиль «Автоматизация технологических процессов и производств в пищевой и химической промышленности», магистров – «Автоматизация технологических процессов и производств (по отраслям)».
        <br/><br/>
        Выпускники, освоившие программу, востребованы в различных отраслях пищевой и химической промышленности, в научно-исследовательских и проектных организациях, оборонных предприятиях и предприятиях атомной энергетики.
        <br/><br/>
        В процессе обучения студенты изучают состав и принципы построения автоматизированных систем, номенклатуру и принципы функционирования и программирования средств автоматизации и промышленных контроллеров. Образовательный процесс направлен на формирование у выпускников компетенций, позволяющих участвовать в разработке современных автоматизированных производств, практическому внедрению современных средств автоматизации, аппаратно-программных средств и на их основе корректировке действующих производств с целью повышения качества.
        <br/><br/>
        Образовательная программа составлена в соответствии с профессиональным стандартом 40.057 «Специалист по автоматизированным системам управления производством».</p>
    <button class="btn">узнать подробнее</button>
    </div>
  </div>
  <div class="area-row">
    <div class="text">
      <h3>27.03.04</h3>
      <h4>Управление в технических системах</h4>
      <p>В рамках направления подготовки бакалавров реализуется профиль «Системы автоматизированного управления». В рамках направления подготовки магистратуры – «Управление и информатика в технических системах».
        <br/><br/>
        Выпускники, освоившие программу, востребованы  на предприятиях, занимающихся разработкой инновационных производств, гибких производственных систем, в конструкторских бюро, в отделах и службах по оптимизации, техническому перевооружению и цифровизации производства различных отраслей промышленности.
        <br/><br/>
        В процессе обучения студенты изучают методы математического моделирования и проектирования, интегрированные системы управления, алгоритмы нечеткой логики и принципы функционирования искусственного интеллекта. Образовательный процесс направлен на формирование у выпускников компетенций, позволяющих выполнять моделирование, анализ, внедрение и сопровождение оптимальных, инновационных методов и алгоритмов управления,  производствами и отдельными операциями, внедрять современные интегрированные комплексы и среды для управления производством.
      </p>
      <button class="btn">узнать подробнее</button>
    </div>
    <h3 class="number">02</h3>
    <img src="/assets/img/uts.png" alt=" "/>
  </div>
  <div class="area-row">
    <img src="/assets/img/service.png" alt=" "/>
    <h3 class="number">03</h3>
    <div class="text">
      <h3>43.03.01</h3>
      <h4>Сервис</h4>
      <p>В рамках направления подготовки реализуются профили:
        <br/><br/>
        <span>бакалавров «Сервисное обеспечение геоинформационных систем государственного и муниципального управления»</span>
        <br/><br/>
        <span>магистратуры «Геоинформационные системы и технологии в муниципальном и государственном управлении»</span>
        <br/><br/>
        Выпускники, освоившие программу «Сервис» востребованы в государственных и муниципальных структурах предприятиях, логистических компаниях, кадастровых службах, геопространственной разведке, правоохранительных и силовых структурах и IT-компаниях.
        <br/><br/>
        В процессе обучения студенты изучают различные языки программирования (C/C++,Java, C#) и языки баз данных (SQL/PSM), системный анализ и моделировании ГИС, средства администрирования вычислительных систем, сетей и телекоммуникаций, стандарты и нормативы проектирования геоинформационных систем, средства  и методы защиты информации, геодезию и картографию формируют навыки по мапированию, выполнению цифровой обработки картографических материалов, создания приложений для работы с геоданными. Образовательный процесс направлен на формирование у выпускников компетенций, позволяющих им разрабатывать и внедрять системы управления качеством услуг, осуществлять обработку и использование геоданных и картографической информации для организации и координации работы по поддержанию функционирования и информационному взаимодействию разноуровневых ГИС, применению современных программных средств в решении задач проектирования, эксплуатации, администрирования.</p>
      <button class="btn">узнать подробнее</button>
    </div>
  </div>
</app-department-areas>
<app-mini-gallery [images]="galleryImgs"></app-mini-gallery>
<app-partners [title]="'Партнеры кафедры'" [partners]="partnersList"></app-partners>
