<div class="footer" id="contacts">
  <div class="footer-contacts">
    <h4 class="section-header round">
      Хочешь к нам поступить?
    </h4>
    <div class="info">
      <a href="tel:+7(473) 255 42 67">+7 (473) 255 42 67</a>
      <a href="https://vsuet.ru">vsuet.ru</a>
      <p>г. Воронеж, пр. Революции, 19</p>
      <div class="social">
        <a href=""><img src="/assets/img/vk.png" alt="vk"/></a>
        <a href=""><img src="/assets/img/inst.png" alt="instagram"/></a>
        <a href=""><img src="/assets/img/fb.png" alt="facebook"/></a>
      </div>
    </div>
  </div>
  <div class="footer-form">
    <div class="line">
      <input placeholder="Фамилия"/>
      <input placeholder="Имя">
    </div>
    <div class="line">
      <input placeholder="Номер телефона"/>
      <input placeholder="E-mail">
    </div>
    <input placeholder="Остались вопросы?">
    <button class="btn" (click)="sendForm()">отправить сообщение</button>
    <div class="info">
      <a href="tel:+7(473) 255 42 67">+7 (473) 255 42 67</a>
      <a href="https://vsuet.ru">vsuet.ru</a>
      <p>г. Воронеж, пр. Революции, 19</p>
      <div class="social">
        <a href=""><img src="/assets/img/vk.png" alt="vk"/></a>
        <a href=""><img src="/assets/img/inst.png" alt="instagram"/></a>
        <a href=""><img src="/assets/img/fb.png" alt="facebook"/></a>
      </div>
    </div>
  </div>
</div>
