.footer {
  display: grid;
  grid-template-columns: 600px 1fr;

  padding: 88px 150px 88px;

  background-color: #FAFBFE;

  &-contacts {
    display: flex;
    flex-direction: column;

    a, p {
      margin: 7px 7px 7px 124px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #333333;

      text-decoration: none;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    a, p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #333333;

      text-decoration: none;
    }

    .social {
      display: flex;

      margin-left: 124px;
      a {
        margin-left: 0;
        margin-right: 26px;
      }
    }
  }

  &-form {
    .line {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
    }

    input {
      width: 100%;

      padding: 10px;

      margin-top: 35px;
      margin-bottom: 35px;

      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 15px;

      text-transform: uppercase;

      color: #333333;

      background-color: transparent;
      box-shadow: none;

      border: none;
      border-bottom: 1px solid #E1E1E1;
      outline: none;
      &:hover, &:focus {
        border: none;
        border-bottom: 1px solid #F33D87;
      }
    }
    .info {
      display: none;
    }
  }

  ::ng-deep .round {
    align-items: baseline;
  }

}

@media (max-width: 1650px) {
  .footer {
    padding: 80px 120px 60px;
    &-contacts {
      a, p {
        margin: 7px 7px 7px 94px;
      }
    }
    .info {
      .social {
        margin-left: 94px;
        a {
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 1342px) {
  .footer {
    padding: 60px 100px 60px;
    &-contacts {
      a, p {
        margin: 7px 7px 7px 92px;
      }
    }
    .info {
      .social {
        margin-left: 92px;
        a {
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 50px 70px 50px;
    grid-template-columns: 400px 1fr;
    &-contacts {
      a, p {
        margin: 7px 7px 7px 64px;
      }
    }
    .info {
      .social {
        margin-left: 64px;
        a {
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .footer {
    padding: 50px 50px 50px;
    grid-template-columns: 1fr;
    &-contacts {
      .info {
        display: none;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        display: flex;
        margin-top: 25px;
        a, p {
          text-align: center;
        }
      }
      .line {
        width: 100%;

        display: flex;
        flex-direction: column;
        grid-gap: 0;
      }
      input {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .footer {
    padding: 35px 20px 50px;
    &-form {
      input {
        width: calc(100% - 20px);
      }
    }
  }
}
