<div class="our-projects">
  <h4 class="section-header round">
    Наши проекты
  </h4>
  <div class="project-list">
    <div class="project-list__item">
      <img src="assets/img/unity.png" alt=" "/>
      <h4>Вгуит 3D</h4>
      <p>3D моделирование - одно из направлений проектной деятельности вуза.  Мы решили показать вам университет таким, каким его видят студенты, преподаватели и сотрудники, что бы каждый мог погрузиться в нашу атмосферу. </p>
      <a href="/virtual-walk">погрузиться в проект...</a>
    </div>
    <div class="project-list__item">
      <img src="assets/img/minecraft.png" alt=" "/>
      <h4>Вгуит Minecraft</h4>
      <p>Этот проект оценят многие, и не только любители MINECRAFT. Потрясающая точность деталей: стены, окна, мебель, оборудование... все как в жизни! Та же модель университета, только в совершенно необычной интерпритации, это заслуживает внимания.</p>
      <a href="/minecraft">погрузиться в проект...</a>
    </div>
  </div>
</div>
