<div class="department-about">
  <div class="department-about__content">
    <div class="text">
      <h4 class="section-header round">
        О кафедре
      </h4>
      <p class="subheader">Заведующий кафедрой</p>
      <div class="photo-mobile">
        <img src="{{ photo }}" alt=" "/>
      </div>
      <h3 class="name">{{ head }}</h3>
      <p class="description" [innerHTML]="description"></p>
    </div>
    <div class="photo">
      <img src="{{ photo }}" alt=" "/>
    </div>
  </div>
</div>
