<div class="partners">
  <h4 class="section-header round">
    Наши партнеры
  </h4>
  <div class="partners-list">
    <div class="partners-list__item">
      <img src="/assets/img/dataart.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/angelsit.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/atos.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/siemens.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/gazprom.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/efko.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/baltika.png" alt=" "/>
    </div>
    <div class="partners-list__item">
      <img src="/assets/img/ekoniva.png" alt=" "/>
    </div>
  </div>
</div>
