<app-department-title [title]="'Корпоративные информационные системы'" [bgImg]="'/assets/img/kis-bg.png'"></app-department-title>
<app-department-about [description]="aboutDescription" [head]="aboutHead" [photo]="aboutPhoto"></app-department-about>
<app-department-areas>
  <div class="area-row">
    <img src="/assets/img/090302.png" alt=" "/>
    <h3 class="number">01</h3>
    <div class="text">
      <h3>09.03.02</h3>
      <h4>Информационные системы и технологии</h4>
      <p>В рамках направления подготовки бакалавров реализуется профиль: «Моделирование и проектирование информационных процессов в технологических системах», магистров – «Исследование и моделирование информационных процессов и систем».
        <br/><br/>
        Выпускники направления востребованы на любых предприятиях и организациях различных форм собственности для решения задач, связанных с автоматизированной обработкой данных. В процессе обучения студенты изучают языки программирования, стандарты и нормативы проектирования автоматизированных систем и средств обработки информации, основные математические методы моделирования информационных и имитационных моделей. Образовательный процесс направлен на формирование у выпускников компетенций, позволяющих им разрабатывать программное обеспечение компьютерных сетей, выполнять весь комплекс работ по установке, настройке и сопровождению программ, разрабатывать проекты автоматизированных систем работы вычислительных комплексов.
      </p>
      <button class="btn">узнать подробнее</button>
    </div>
  </div>
  <div class="area-row">
    <div class="text right">
      <h3>09.03.03</h3>
      <h4>Прикладная информатика</h4>
      <p>Профилизация:<br/>
        <br/>
        – программа бакалавриата «Цифровизация бизнес-процессов»,
        <br/><br/>
        – программа магистратуры «Математическое и компьютерное моделирование информационных и бизнес-процессов».
        <br/><br/>
        В процессе обучения студенты изучают организацию информационных процессов и систем с использованием инструментальных средств, проектируют архитектуру и сервисы информационных систем, учатся адаптировать современные ИКТ к прикладным задачам, в т.ч. в условиях неопределенности и риска. Выпускники востребованы в сфере проектирования, разработки, внедрения и эксплуатации информационных систем и управления их жизненным циклом.
        <br/><br/>
        Образовательный процесс направлен на формирование у выпускников компетенций, позволяющих разрабатывать проектные решения, внедрять и сопровождать информационные системы в сфере экономики, разрабатывать рекомендации по развитию ИТ на предприятиях, а также проводить научные исследования по применению искусственного интеллекта в промышленности.
      </p>
      <button class="btn">узнать подробнее</button>
    </div>
    <h3 class="number">02</h3>
    <img src="/assets/img/090303.png" alt=" "/>
  </div>
</app-department-areas>
<app-mini-gallery [images]="galleryImgs"></app-mini-gallery>
<app-partners [title]="'Партнеры кафедры'" [partners]="partnersList"></app-partners>
