<div class="navigation-wrapper">
  <div class="navigation__logo">
    <a href="/"><img src="/assets/img/logo.svg" width="90px" alt=" "/></a>
  </div>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a routerLink="" class="navigation__link">Абитуриентам</a>
    </li>
    <li class="navigation__item">
      <a routerLink="" class="navigation__link">Кафедры</a>
    </li>
    <li class="navigation__item">
      <a routerLink="" class="navigation__link">Где и как учиться</a>
    </li>
    <li class="navigation__item">
      <a routerLink="" class="navigation__link">Контакты</a>
    </li>
    <li class="navigation__item">
      <a routerLink="" class="navigation__link"><img src="/assets/img/search_btn.svg" width="17px" alt=" "/></a>
    </li>
  </ul>
</div>
