.navigation-wrapper {
  position: absolute;

  width: calc(100% - 100px);
  left: 0;

  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-top: 40px;

  z-index: 99;
}

.navigation__list {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.navigation__link {
  display: flex;

  margin-right: 75px;

  color: #fff;
  text-decoration: none;
  font-size: 19px;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    color: #292E8A;
  }
}

.navigation-wrapper.relative {
  position: relative;
  margin-bottom: 32px;

  .navigation__link {
    color: #C4C4C4;

    &:hover {
      color: #292E8A;
    }
  }
}

.navigation__link.active {
  color: #292E8A !important;
}

.navigation__arrows {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
  img {
    &:first-child {
      position: absolute;
      right: -3px;
      opacity: 0;

      transition-duration: 0.2s;
    }
  }
  &:hover {
    img {
      &:first-child {
        transform: translateX(17px);
        opacity: 1;
        //animation-name: show-arrow;
        //animation-duration: 0.2s;
        //animation-fill-mode: forwards;
        //animation-iteration-count: 1;
      }
    }
  }
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #FFFFFF;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #F33D87;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}

@keyframes show-arrow {
  0% {
    right: 0;
    opacity: 0
  }
  100% {
    right: -30px;
    opacity: 1
  }
}

@media (max-width: 1674px) {
  .navigation-wrapper {
    padding-left: 60px;
    padding-top: 40px;
  }

  .navigation__link {
    margin-right: 60px;
  }
}

@media (max-width: 1400px) {
  .navigation__link {
    margin-right: 40px;

    font-size: 21px;
  }
  .navigation__logo {
    img {
      width: 150px;
    }
  }
}

@media (max-width: 1200px) {
  .navigation-wrapper {
    padding-left: 60px;
    padding-top: 40px;
  }
  .navigation__link {
    margin-right: 20px;
    font-size: 20px;
  }
  .navigation__logo {
    img {
      width: 120px;
    }
  }
}

@media (max-width: 1015px) {
  .navigation__link {
    margin-right: 15px;
    font-size: 17px;
  }
}

@media (max-width: 950px) {
  .navigation-wrapper {
    padding-left: 60px;
    padding-top: 40px;
  }
  .navigation__link {
    font-size: 13px;
  }
  .navigation__logo {
    img {
      width: 70px;
    }
  }
}

@media (max-width: 768px) {
  .navigation-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
  .navigation__list {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
