<div class="navigation-wrapper" [ngClass]="{'relative': !isRoot}">
  <div class="navigation__logo">
    <a href="/"><img [src]="isRoot ? '/assets/img/logo.svg' : '/assets/img/logo-colored.png'" width="90px" alt=" "/></a>
  </div>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a (click)="goTo($event,'applicants')" [class.active]="isActive('applicants')" class="navigation__link">Абитуриентам</a>
    </li>
    <li class="navigation__item">
      <a (click)="goTo($event,'departments')" [class.active]="isActive('departments')" class="navigation__link">Кафедры</a>
    </li>
    <li class="navigation__item">
      <a href="https://abitur-online.vsuet.ru/" target="_blank" class="navigation__link">Где и как учиться</a>
    </li>
    <li class="navigation__item">
      <a (click)="goTo($event,'contacts')" class="navigation__link">Контакты</a>
    </li>
    <li class="navigation__item">
      <a routerLink="" class="navigation__link"><img [src]="isRoot ? '/assets/img/search_btn.svg' : '/assets/img/search_btn-colored.svg'" width="17px" alt=" "/></a>
    </li>
  </ul>
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" (click)="openBurger($event)"/>
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box" id="menu__box">
      <img [src]="'/assets/img/logo-colored.png'" width="70px" alt=" "/>
      <li class="menu__item">
        <a (click)="goTo($event,'applicants')" [class.active]="isActive('applicants')" class="navigation__link">Абитуриентам</a>
      </li>
      <li class="menu__item">
        <a (click)="goTo($event,'departments')" [class.active]="isActive('departments')" class="navigation__link">Кафедры</a>
      </li>
      <li class="menu__item">
        <a routerLink="" class="navigation__link">Где и как учиться</a>
      </li>
      <li class="menu__item">
        <a (click)="goTo($event,'contacts')" class="navigation__link">Контакты</a>
      </li>
      <div class="contacts">
        <a href="tel:+7(473) 255 42 67">+7 (473) 255 42 67</a>
        <div class="social">
          <a href=""><img src="/assets/img/vk.png" alt="vk"/></a>
          <a href=""><img src="/assets/img/inst.png" alt="instagram"/></a>
          <a href=""><img src="/assets/img/fb.png" alt="facebook"/></a>
        </div>
      </div>
    </ul>
  </div>
</div>
