<div class="student-life">
  <h4 class="section-header round">
    Студенческая жизнь
  </h4>
  <carousel class="carousel" [cellsToShow]="cellsToShow" [margin]="20" [cellWidth]="375" [dots]="true" [arrows]="true">
    <div class="carousel-cell">
      <div class="cell-data">
        <img class="photo" src="/assets/img/life1.png"/>
        <div class="text">
          <h4>традиционные ежегодные праздники</h4>
          <p>Вуз ежегодно проводит фестивали студенческого творчества, аспирантов, преподавателей и сотрудников факультета. Это праздник искусства, где любой желающий может реализовать все свои самые смелые творческие идеи.</p>
        </div>
        </div>
    </div>
    <div class="carousel-cell">
      <div class="cell-data">
        <img class="photo" src="/assets/img/life2.png"/>
        <div class="text">
          <h4>Соревнования между факультетами</h4>
          <p>Подобного рода мероприятия помогают поддерживать командый дух студентов, а так же развивать свои личностные качества и сохранить дух соперничества между командами и факультетами, что способствует развитию.</p>
        </div>
      </div>
    </div>
    <div class="carousel-cell">
      <div class="cell-data">
        <img class="photo" src="/assets/img/life3.png"/>
        <div class="text">
          <h4>форумы и собрания за пределами вуза</h4>
          <p>Посещение различных форумов в других городах, встречи с профессиональными спикерами, которые делятся своим опытом и рассказывают студентам о возможностях для раскрытия своего потенциала.</p>
        </div>
      </div>
    </div>
  </carousel>
</div>
