.student-life {
  //height: 968px;
  padding: 88px 150px 88px;

  background-color: #FAFBFE;

  ::ng-deep .carousel-cells, ::ng-deep .carousel-container, ::ng-deep .carousel {
    position: relative;
    height: 702px !important;
  }

  ::ng-deep .carousel-arrow {
    box-shadow: none !important;
    bottom: -7px !important;
    top: unset !important;

    background-color: transparent !important;
    cursor: pointer;
  }

  ::ng-deep .carousel-arrow-prev {
    background-image: url('/assets/img/arrow-left.png') !important;
    left: 40% !important;
  }

  ::ng-deep .carousel-arrow-next {
    background-image: url('/assets/img/arrow-right.png') !important;
    right: 40% !important;
  }

  ::ng-deep .carousel-dot {
    background-color: #F8CEDF !important;
    border-color: #F8CEDF !important;
  }

  ::ng-deep .carousel-dot.carousel-dot-active {
    background-color: #F33D87 !important;
    border-color: #F33D87 !important;
  }

  .cell-data {
    display: flex;
    flex-direction: column;

    height: 642px;
    max-width: 500px;

    background: #FFFFFF;

    border: 1px solid #E7EDF8;
    box-sizing: border-box;

    box-shadow: 0 3px 4px rgba(230, 236, 249, 0.5);

    .photo {
      height: 460px;
      top: -40px;
    }

    .text {
      padding: 0 32px 27px;
    }

    h4 {
      margin: 3px;

      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;

      letter-spacing: 0.42px;
      text-transform: uppercase;

      color: #11145D;
    }

    p {
      margin: 3px;

      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #333333;

      opacity: 0.7;
    }
  }
}

@media (max-width: 1815px) {
  .student-life {
    .cell-data {
      .photo {
        top: -30px;
      }
    }
    ::ng-deep .carousel-cells {
      .carousel-cell:last-child, .carousel-cell:nth-child(2) {
        .cell-data {
          .photo {
            top: -45px;
          }
          .text {
            position: relative;
            top: -20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  .student-life {
    padding: 80px 120px 60px;
  }
}

@media (max-width: 1420px) {
  .student-life {
    ::ng-deep .carousel-cell {
      display: flex !important;
      justify-content: center !important;
    }
  }
}

@media (max-width: 1342px) {
  .student-life {
    padding: 60px 100px 60px;

    ::ng-deep .carousel-arrow-prev {
      left: 15% !important;
    }

    ::ng-deep .carousel-arrow-next {
      right: 15% !important;
    }
  }
}

@media (max-width: 1200px) {
  .student-life {
    padding: 50px 70px 50px;
  }
}

@media (max-width: 850px) {
  .student-life {
    padding: 50px 50px 50px;
  }
}

@media (max-width: 550px) {
  .student-life {
    padding: 35px 20px 50px;
  }
}

@media (max-width: 375px) {
  .student-life {
    .photo {
      top: -65px !important;
    }
  }
}

@media (max-width: 411px) {
  :host {
    ::ng-deep {
      .round {
        align-items: baseline;
      }
    }
  }
}

