.department-title {
  position: relative;

  min-width: 100%;
  height: 368px;
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  color: #fff;

  z-index: 1;

  p {
    display: flex;
    align-items: center;

    margin: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;

    opacity: 0.8;
  }

  h4 {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 87px;
  }

  p, h4 {
    margin-left: 168px;
  }
}

:host ::ng-deep .round::before {
  margin-right: 26px;

  background-color: #FFFFFF;
}

@media (max-width: 1650px) {
  .department-title {
    p, h4 {
      margin-left: 120px;
    }
  }
}

@media (max-width: 1342px) {
  .department-title {
    height: 308px;
    p, h4 {
      margin-left: 100px;
    }
  }
}

@media (max-width: 1200px) {
  .department-title {
    p, h4 {
      margin-left: 70px;
    }
  }
}

@media (max-width: 850px) {
  .department-title {
    height: 258px;
    padding-bottom: 20px;
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 20px;
      line-height: 24px;
    }
    p, h4 {
      margin-left: 50px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 550px) {
  .department-title {
    height: 168px;
    p, h4 {
      margin-left: 20px;
    }
    h4 {
      font-size: 16px;
    }
  }
}
