<div class="departments">
  <h4 class="section-header underline">
    Кафедры
  </h4>
  <div class="wrapper">
    <div class="box a">
      <div class="box-header">
        <h3>01</h3>
        <h4>Информационная безопасность</h4>
      </div>
      <div class="box-body"><img src="/assets/img/macbook.png" alt=" "></div>
      <a>подробнее ...</a>
    </div>
    <div class="box b">
      <div class="box-header">
        <h3>02</h3>
        <h4>Информационные и управляющие системы</h4>
      </div>
      <div class="box-body">
        <p>Готовит специалистов, принимающих участие в создании и эксплуатации информационных систем, автоматизирующих задачи организационного управления коммерческих предприятий и бюджетных учреждений.</p>
        <img src="/assets/img/02.png" alt=" ">
      </div>
      <a>подробнее ...</a>
    </div>
    <div class="box c">
      <div class="box-header">
        <h3>03</h3>
        <h4>Высшая математика и информционные технологии</h4>
      </div>
      <div class="box-body">
        <p>Готовит специалистов, принимающих участие в создании и эксплуатации информационных систем, автоматизирующих задачи организационного управления коммерческих предприятий и бюджетных учреждений.</p>
        <img src="/assets/img/ball.png" width="541" height="541" alt=" "/>
        <img src="/assets/img/screen.png" width="780" height="650" alt=" "/>
      </div>
      <a>подробнее ...</a>
    </div>
    <div class="box d">
      <div class="box-header">
        <h3>04</h3>
        <h4>Управление качеством и технологии водных биоресурсов</h4>
      </div>
      <div class="box-body">
        <p>За время обучения в бакалавриате студенты получают расширенную естественно-научную и базовую специальную подготовку в осуществлении контроля за качеством продукции, выпускаемой на предприятии, а так же в изучении и оценки состояния экосистем естественных и искуственных водоемов</p>
        <img src="/assets/img/vbia.png" alt="">
      </div>
      <a>подробнее ...</a>
    </div>
    <div class="box e">
      <div class="box-header">
        <h3>05</h3>
        <h4>Корпоративные информационные системы</h4>
      </div>
      <div class="box-body">
        <img src="/assets/img/Light%20isometric%20mockup%201.png" alt="">
      </div>
      <a>подробнее ...</a>
    </div>
  </div>
<!--  <carousel class="carousel" cellsToShow="4" [margin]="20" [cellWidth]="375" [dots]="true" [arrows]="false">-->
<!--    <div class="carousel-cell">-->
<!--      <div>-->
<!--        <h3>01</h3>-->
<!--        <img src="/assets/img/Data%20encryption.svg" width="150px" style="right: -135px" alt=" "/>-->
<!--      </div>-->
<!--      <h4>Информационная безопасность</h4>-->
<!--      <p>Кафедра ориентирует студентов на подготовку в области информационной безопасности автоматизированных систем.</p>-->
<!--      <a>подробнее ...</a>-->
<!--    </div>-->
<!--    <div class="carousel-cell">-->
<!--      <div>-->
<!--        <h3>02</h3>-->
<!--        <img src="/assets/img/Group.svg" width="150px" style="right: -135px" alt=" "/>-->
<!--      </div>-->
<!--      <h4>Высшая математика и информционные технологии</h4>-->
<!--      <p>Готовит специалистов, принимающих участие в создании и эксплуатации информационных систем, автоматизирующих задачи организационного управления коммерческих предприятий и бюджетных учреждений.</p>-->
<!--      <a>подробнее ...</a>-->
<!--    </div>-->
<!--    <div class="carousel-cell">-->
<!--      <div><h3>03</h3>-->
<!--        <img src="/assets/img/Group%20381.svg" width="150px" style="right: -135px" alt=" "/></div>-->
<!--      <h4>Информационные и управляющие системы</h4>-->
<!--      <p>Подготовка дипломированных специалистов по специальностям кафедры ИУС обеспечивает национальное хозяйство в инженерах, способных решать различные задачи во всех областях автоматизации технологий, производств и иной деятельности современного человека.</p>-->
<!--      <a>подробнее ...</a>-->
<!--    </div>-->
<!--    <div class="carousel-cell">-->
<!--      <div>-->
<!--        <h3>04</h3>-->
<!--        <img src="/assets/img/Group%20303.svg" width="150px" style="right: -135px" alt=" "/>-->
<!--      </div>-->
<!--      <h4>Управление качеством и технологии водных биоресурсов</h4>-->
<!--      <p>За время обучения в бакалавриате студенты получают расширенную естественно-научную и базовую специальную подготовку в осуществлении контроля за качеством продукции, выпускаемой на предприятии, а так же в изучении и оценки состояния экосистем естественных и искуственных водоемов</p>-->
<!--      <a>подробнее ...</a>-->
<!--    </div>-->
<!--    <div class="carousel-cell">-->
<!--      <div>-->
<!--        <h3>05</h3>-->
<!--        <img src="/assets/img/Group-1.svg" width="150px" style="right: -135px" alt=" "/>-->
<!--      </div>-->
<!--      <h4>Корпоративные информационные системы</h4>-->
<!--      <p>Кафедра ориентирует студентов на подготовку в области информационной безопасности автоматизированных систем.</p>-->
<!--      <a>подробнее ...</a>-->
<!--    </div>-->
<!--  </carousel>-->
</div>
