<div class="departments" id="departments">
  <h4 class="section-header round">
    Кафедры
  </h4>
  <div class="wrapper">
    <div class="box a">
      <div class="box-header">
        <h3>01</h3>
        <h4>Информационная безопасность</h4>
      </div>
      <div class="box-body"><img src="/assets/img/macbook.png" alt=" "></div>
      <a href="/departments/ib">подробнее ...</a>
    </div>
    <div class="box b">
      <div class="box-header">
        <h3>02</h3>
        <h4>Информационные и управляющие системы</h4>
      </div>
      <div class="box-body">
        <p>Готовит специалистов, принимающих участие в создании и эксплуатации информационных систем, автоматизирующих задачи организационного управления коммерческих предприятий и бюджетных учреждений.</p>
        <img src="/assets/img/02.png" alt=" ">
      </div>
      <a href="/departments/ius">подробнее ...</a>
    </div>
    <div class="box c">
      <div class="box-header">
        <h3>03</h3>
        <h4>Высшая математика и информционные технологии</h4>
      </div>
      <div class="box-body">
        <p>Готовит специалистов, принимающих участие в создании и эксплуатации информационных систем, автоматизирующих задачи организационного управления коммерческих предприятий и бюджетных учреждений.</p>
        <div class="img-holder">
          <div class="img-holder__images">
            <img class="img-holder__img" src="/assets/img/ball.png" width="541" height="541" alt=" "/>
            <img class="img-holder__img" src="/assets/img/screen.png" width="780" height="650" alt=" "/>
          </div>
        </div>
      </div>
      <a href="/departments/vmit">подробнее ...</a>
    </div>
    <div class="box d">
      <div class="box-header">
        <h3>04</h3>
        <h4>Управление качеством и технологии водных биоресурсов</h4>
      </div>
      <div class="box-body">
        <p>За время обучения в бакалавриате студенты получают расширенную естественно-научную и базовую специальную подготовку в осуществлении контроля за качеством продукции, выпускаемой на предприятии, а так же в изучении и оценки состояния экосистем естественных и искуственных водоемов</p>
        <img src="/assets/img/vbia.png" alt="">
      </div>
      <a href="/departments/ukmt">подробнее ...</a>
    </div>
    <div class="box e">
      <div class="box-header">
        <h3>05</h3>
        <h4>Корпоративные информационные системы</h4>
      </div>
      <div class="box-body">
        <img src="/assets/img/Light%20isometric%20mockup%201.png" alt="">
      </div>
      <a href="/departments/kis">подробнее ...</a>
    </div>
  </div>
</div>
