.feedback {
  height: 701px;
  padding: 88px 150px 88px;

  background-color: #ffffff;

  ::ng-deep .carousel-cells, ::ng-deep .carousel-container, ::ng-deep .carousel {
    position: relative;
    height: 523px !important;
  }

  ::ng-deep .carousel-arrow {
    box-shadow: none !important;
    bottom: -7px !important;
    top: unset !important;
  }

  ::ng-deep .carousel-arrow-prev {
    left: 45% !important;
  }

  ::ng-deep .carousel-arrow-next {
    right: 45% !important;
  }

  .carousel-cell {

    display: flex;
    justify-content: center;
    width: calc(100% - 20px) !important;

    .feedback-wrapper {
      display: flex;
      flex-direction: column;

      position: relative;

      max-height: 357px;
      max-width: 1133px;

      padding: 42px 79px;

      border: 1px solid #E7EDF8;

      box-shadow: 0 3px 4px rgba(230, 236, 249, 0.5);

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        color: #333333;

        opacity: 0.7;
      }

      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 24px;
        letter-spacing: 0.9px;

        color: #11145D;
      }

      p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;

        color: #333333;

        opacity: 0.7;
      }

      .feedback-photo {
        position: absolute;
        width: 187px;
        top: 0;
        left: -150px;
      }

      .feedback-stars {
        position: absolute;

        bottom: 27px;

        img {
          width: 24px;

          margin-right: 8px;
        }
      }
    }

    .feedback-wrapper:after, .feedback-wrapper:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .feedback-wrapper:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 18px;
      left: 50%;
      margin-left: -18px;
    }
    .feedback-wrapper:before {
      border-color: rgba(125, 145, 133, 0);
      border-top-color: #E7EDF8;
      border-width: 19px;
      left: 50%;
      margin-left: -19px;
    }
  }

  ::ng-deep .carousel-dot {
    background-color: #E7EDF8 !important;
    border-color: #E7EDF8 !important;
  }

  ::ng-deep .carousel-dot.carousel-dot-active {
    background-color: #292E8A !important;
    border-color: #292E8A !important;
  }
}

@media (max-width: 1870px) {
 .feedback {
   .carousel-cell {
     .feedback-wrapper {
       max-width: 900px;
     }
   }
 }
}

@media (max-width: 1650px) {
  .feedback {
    padding: 180px 120px 60px;
    .carousel-cell {
      .feedback-wrapper {
        max-width: 800px;
      }
    }
  }
}

@media (max-width: 1490px) {
  .feedback {
    .carousel-cell {
      .feedback-wrapper {
        max-width: 600px;

        h4 {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 1342px) {
  .feedback {
    padding: 150px 100px 60px;
    .carousel-cell {
      .feedback-wrapper {
        max-width: 550px;
      }
    }
    ::ng-deep .carousel-arrow-prev {
      left: 15% !important;
    }

    ::ng-deep .carousel-arrow-next {
      right: 15% !important;
    }
  }
}

@media (max-width: 1200px) {
  .feedback {
    padding: 120px 70px 50px;
    .carousel-cell {
      .feedback-wrapper {
        max-width: 100%;
        .feedback-photo {
          position: absolute;
          width: 187px;
          top: 0;
          left: 30px;
          grid-row: 1;
        }
        h3, h4, p, div {
          padding-left: 187px;
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .feedback {
    .carousel-cell {
      .feedback-wrapper {
        h3 {
          font-size: 15px;
          margin: 5px 0;
        }
        h4 {
          font-size: 19px;
          margin: 5px 0;
        }
        p {
          font-size: 14px;
          margin: 5px 0;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .feedback {
    padding: 50px 50px 50px;
    .carousel-cell {
      .feedback-wrapper {
        padding: 25px 25px;
        .feedback-photo {
          width: 100px;
          left: 10px;
        }
        h3, h4, p, div {
          padding-left: 100px;

        }
        p {
          overflow-y: auto;
        }
        .feedback-stars {
          bottom: 10px
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .feedback {
    padding: 50px 20px 50px;
  }
}
