<div class="for-applicants">
  <h4 class="section-header round">
    Абитуриентам
  </h4>
  <div class="list">
    <div class="list__item">
      <img src="/assets/img/books.svg" alt=" "/>
      <h4>Как поступить</h4>
      <p>В 2021 году прием в вузы будет проходить по новым правилам</p>
      <button class="btn">Узнать подробнее</button>
    </div>
    <div class="list__item">
      <img src="/assets/img/bulb.svg" alt=" "/>
      <h4>Куда поступить</h4>
      <p>На факультете УИТС 8 направлений подготовки бакалавров и 7 направлений подготовки магистров</p>
      <button class="btn">Узнать подробнее</button>
    </div>
    <div class="list__item">
      <img src="/assets/img/graduate.svg" alt=" "/>
      <h4>Кем хочешь стать</h4>
      <p>Пройди тест на профориентацию на сайте и выясни, какая профессия тебе больше всего подходит</p>
      <button class="btn">Узнать подробнее</button>
    </div>
  </div>
</div>
